{% extends 'layout.html' %}

{% block content %}
    <div class="content-section">
        <div class=media>
            <img class="rounded-circle account-img" src="{{ profile_picture }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username}}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <!-- set action to empty string in order to post the form to the same route we are currently on -->
        <form method="POST", action="" enctype="multipart/form-data"> 
            <!-- Adding CSRF (Cross-Site Request Forgery) token -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Personal Profile </legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.username.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.email.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.profile_picture.label() }} <br/>
                    <label class="custom-button">
                        {{ form.profile_picture() }}
                        <div class="form_control-file btn btn-info mt-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-image mb-1" viewBox="0 0 16 16">
                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                            </svg> &nbsp; Choose a Photo
                        </div>
                    </label> 
                    {% if form.profile_picture.errors %}
                        {% for error in form.profile_picture.errors %}
                            <span class="text-danger"> {{ error }} </span> </br>
                        {% endfor %}
                    {% endif %}
                <div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
